<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Intake App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="height: 2000px;">
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark" style=background-color:cyan;>
    <div class="container-fluid">
      <a href="#" class="navbar-brand mb-0 h1">
        <img class="img-fluid-50" 
        src="https://seeklogo.com/images/B/bootstrap-5-logo-85A1F11F4F-seeklogo.com.png" style="width: 30px;0px;">Navbar          
        <img class="d-inline-block" 
        src="{% static '/images/logo.png' %}" style="width:30 height=30">Navbar 
      </a>   
  
      <button 
      type="button" 
      data-toggle="collapse"   
      data-target="#navbarNav"    
      class="navbar-toggler"
      aria-controls="#navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
          <li class="acive"><button type="button">Request a Class</button></li>
          <li class="active"><a href="#">Home</a></li>
          <li class="active"><a href="/courses">Courses </a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">My App</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </li>
          <li><a href="#">My Events</a></li>
          <li> <button  style="" type="button" id="" data-cy="login-register">Login / Register</button></li>
          <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
          <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
          <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
          <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
         <li> <a href="#"><img class="" src="/images/whatsapp-color.svg" alt="whatsapp"></a></li>
          <li><a class="mx-2 w-10" href="#" title="Join us on Facebook" target="_blank" rel="noreferrer"><img src="/images/facebook-nav.svg" alt="facebook"></a></li>
          <li><a class="ml-2 w-10" href="https://www.linkedin.com/company/google/" title="Join us on LinkedIn" target="_blank" rel="noreferrer"><img src="/images/linkedin-logo.svg" alt="linkedin"></a></li>
        </ul>
       
        <form>
          <input type="text" placeholder="Search">
          <button type="button" class="btn btn-primary">Search</button>  
        </form>
        <!-- <div><a href="#"><img src="/images/hamburger.svg" alt="Menu"></a></div> -->
       

      </div>
    </div>
  </nav>
</body>
</html>
